.navbar {
    background-color: #1f1f1f;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar h2 {
    color: #90caf9;
    margin: 0;
  }
  
  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #90caf9;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #64b5f6;
  }
  